<nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(6, 6, 66);">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white" href="/about">WEB322 - Matias Alejandro Jara Martell</a>
       
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
                <%- navLink('/about', 'About') %>
                <%- navLink('/items', 'Items') %>
                <%- navLink('/categories', 'Categories') %>
                <%- navLink('/shop', 'Shop') %>
            </ul>
        </div>
       
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>