<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/header') %>
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <h2>Coming Soon</h2>
                <p>Stay tuned for the upcoming updates!</p>
            </aside>
            <section class="main col-md-9">
                <article>
                    <h2>👤 About</h2>
                    <p>
                        My name is Matias and I'm currently studying Computer Programming at Seneca College.
                    </p>
                    <p>
                        This webpage is made by Matias Alejandro Jara Martell.
                    </p>
                    <p>
                        I am a video and image editor on YouTube. Since I was a little child, my ambition was to create a YT channel.
                        That's one of the reasons why I've been working on my own YouTube channel since 2021, called 'Producto Crema'.
                        Spending time on it has helped me gain up to 3K subscribers after posting interesting videos for my football audience.
                        However, since I enrolled at Seneca College, I decided to put it aside as I want to make the most of my time on computer programming.
                    </p>
                    <p>
                        One of my favourite sports is Table Tennis. I've been playing it for almost my whole life, participating in school tournaments across my city, and representing my school several times.
                    </p>
                    <p>
                        When it comes to the artistic field, I have been learning to play the piano since elementary school, which has allowed me to play iconic songs like "Hit the Road, Jack" and some Peruvian songs at an amateur level.
                    </p>
                </article>
            </section>
        </div>
    </div>    
</body>
</html>