
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=\, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
        ></script>
        <link href="/css/main.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
      <%- include('layouts/header') %>
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for the upcoming updates!</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            My name is Matias and I'm currently studying Computer Programming at Seneca College.
                        </p>
                        <p>
                            This webpage is made by Matias Alejandro Jara Martell
                        </p>
                        <p>
                            I am a video and image editor on Youtube. Since I was a little child, my ambition was to create a YT channel
                            . That's one of the reasons why I've been working on my own youtube channel since 2021,
                            which is called 'Producto Crema'. Spending time on it has helped me gain up to 3K subscribers after posting
                            interesting videos for my football audience.However, since I enrolled at Seneca College, I decided to put it aside
                            as I want to make the most of my time on computer programming.
                        </p>
                        <p>
                            One of my favourite sports, when it comes to play it, is Table Tennis. I've been playing table tennis for almost my whole life.
                            I've been participating in school tournaments across my city, representing my school several times.

                        </p>
                        <p>
                            When it comes to the artistic field, I have been learning to play the piano since elementary school,
                             which has allowed me to play iconic songs like Hit the Road, Jack and some Peruvian songs at an amateur level.
                        </p>
                    </article>
                </section>
            </div>
        </div>

        <!-- Latest compiled and minified Bootstrap 5 JavaScript -->
    </body>
</html>
<form method="post" action="/items/add" enctype="multipart/form-data">
  <fieldset>
    <legend>Feature Image</legend>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input
            class="form-control"
            id="featureImage"
            name="featureImage"
            type="file"
          />
        </div>
      </div>
    </div>
  </fieldset>
  <br />
  <fieldset>
    <legend>Post Content</legend>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="title">Item Name:</label>
          <input class="form-control" id="title" name="title" type="text" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="price">Price:</label>
          <input class="form-control" id="price" name="price" type="text" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="body">Description:</label>
          <textarea
            class="form-control"
            id="body"
            name="body"
            rows="15"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="category">Category:</label>
          <select class="form-control" name="category" id="category">
            <option value="1">Home, Garden</option>
            <option value="2">Electronics, Computers, Video Games</option>
            <option value="3">Clothing</option>
            <option value="4">Sports & Outdoors</option>
            <option value="5">Pets</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="category">Visibility:</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="published" id="published" />
              Published
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <hr />
  <input
    type="submit"
    class="btn btn-primary pull-right"
    value="Add Post"
  /><br /><br /><br />
</form>
