body {
    font-family: 'Lato', sans-serif;
    padding-top: 100px; /* Add padding to the top so the content is not hidden under the navbar */
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #ffffff; /* light background (optional) */
}

.custom-rounded {
    border-radius: 30px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Lato', sans-serif;
}
code, pre, .monospace {
    font-family: 'Lato', sans-serif;
}
a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    transition: color 0.2s ease;
}